{% extends 'base.html.twig' %}

{% block title %}Mon Portfolio{% endblock %}

{% block body %}
    <a class="anchor" id="portfolio-link"></a>
    <div id="portfolio" class="container-fluid">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Portfolio</h1>
                <hr />

                    <div class="row">
                        <div class="col-lg-4">
                            {% for project in projects %}
                            <div class="thumbnail">
                                <a href="{{ project.url }}" target="_blank">
                                    <div class="thumbnail-hover text-center">
                                        <i class="fa fa-eye fa-4x"></i>
                                    </div>
                                    <img class="img-responsive" src="images/developpeur-web-multimedia.jpg" alt="">
                                </a>
                                <div class="caption">
                                    <h3>{{ project.name }}</h3>
                                    <p>{{ project.description}} </p>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-4">
                            {% endfor %}
                            <div class="thumbnail">

                                    <div class="thumbnail-hover text-center">
                                        <i class="fa fa-eye fa-4x"></i>
                                    </div>
                                    <img src="images/logo-site-en-construction.bmp">
                                </a>
                                <div class="caption">
                                    <h3></h3>
                                    <p>Site en construction !!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

    <a class="anchor" id="about-link"></a>
    <div id="about" class="container-fluid text-center">
        <h1>About</h1>
        <hr />
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-lg-3">
                    <a href = "https://github.com/bricealnk">
                        <img class="img-responsive img-circle center-block" src="https://avatars.githubusercontent.com/u/90565756?v=4" alt="Bricealnk" />
                    </a>
                </div>
                <div id="white-bg" class="col-lg-8">
                    <p>
                        Full Stack Developper, studied at Wild Code School (september 2021 to february 2022)


                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}