{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <a class="btn-home text-black btn rounded-pill border-0 p-3 fs-5 mt-3" href="{{ path('admin_add') }}">Ajouter</a>

{% endblock %}